*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../assets/img/background-img.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
header{
    margin-bottom: 100px;
}
.navheader{
    background-color: #3d61ff8a;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: end;
}
.navheader ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
}
.navheader ul .nav-link {
    color: antiquewhite;
}
.navheader ul .nav-link:hover{
    color: red;
}

.video{
    margin-bottom: 100px;
}

footer{
    height: 60px;
    background-color: #3d61ff8a;
    display: flex;
    justify-content: end;
    align-items: center;
}
footer ul {
    display: flex;
    padding-right: 10px;
    justify-content: end;
    gap:1rem;
    list-style: none;
    margin-bottom: 0;
}

.redes a{
    text-decoration: none;
    color: antiquewhite;
}
.redes a:hover{
    color:red;
}
.sidebarMobile{
    display: none;
}
#offcanvasNavbar{
    background-color: rgb(148, 155, 155);
    color: antiquewhite;
}
.navbar-light .navbar-nav .nav-link{
    color: antiquewhite;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #000000;
}

h1{
    margin: 0 20px 30px 20px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-decoration: underline;
    font-size: 40px;
}

.tablas{
    margin: 0 20px;
    font-family: 'Comic Neue', cursive;
    font-size: x-large;
    
}

.tabla1{
    display: grid;
    background-image: url("../assets/img/doomsday.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 100px);    
}


.tabla2{
    display: grid;
    background-image: url("../assets/img/Lex.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 100px);
}

.tabla1 > *{
    background-color: #ffffff6c;
    border: 2px solid black;
    text-align: center;
    line-height: 100px;  
}

.tabla2 > *{
    background-color: #ffffff6c;
    border: 2px solid black;
    text-align: center;
    line-height: 100px;  
}

.texto{
    display: flex;
    justify-content: center;
    
}

p{
    font-family: 'Comic Neue', cursive;
    width: 80%;
    padding: 10px;
    font-size: 20px;
    background-color: #ffffffb0;
    margin-bottom: 50px;
}

.imagenHistoria{
    float:left;
    margin: 5px;
}

.kriptonita{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #8f0404;
    color: white;
    margin: 10px;
    font-family: 'Comic Neue', cursive;
    font-size: 15px;
}
.kriptonita span{
    padding-left: 10px;
}

.contacto_formulario{
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #3d61ff; 
    padding-left: 30px;
}

h3{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 25px;
    color:aliceblue;
}
input{
    width: 30px;
    height: 20px;
}
.radioInput{
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

.inputRecta{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border: solid 2px #f34e4e; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

.button__contacto{
    height: 45px; 
  padding: 0 5px;   
  margin-bottom: 20px; 
  margin-top: 10px; 
  background-color: #f34e4e;  
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}

label, span{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 17px;
    color: white;
}

textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;  
    border: solid 2px #f34e4e; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

/* mobile */
@media screen and (max-width: 600px){
    .sidebarMobile{
        display: block;
    }
    .navheader{
        display: none;
    }
    .main-corto{
        height: 70vh;
        display: flex;
        align-items: center;
    }

    .tabla1 > *{
        line-height: 40px;  
    }
    
    .tabla2 > *{

        line-height: 40px;  
    }
    .imagenHistoria{
        display: none;
    }

    .contacto_formulario{
        width: auto;
        padding-right: 10px;
    }
    .inputRecta{
        width: -webkit-fill-available;
    }
    .texto_mensaje{
        width: -webkit-fill-available;
    }
    .button__contacto{
        width: -webkit-fill-available;
    }

    body{
        background-image: url("../assets/img/black-superman.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
}

