.contacto_formulario{
    @include sizes(460px, auto);
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: $color-azul; 
    padding-left: 30px;
        .h3{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        font-family: map-get($estilosTextos, fuente);
        font-weight: 900;
        font-size: 25px;
        color:$color-blanco;
    }
    .radioInput{
        display: flex;
        align-items: center;
        margin: 15px 0px;
    }
    .inputRecta{
        background-color: $color-blanco; 
        @include sizes(408px, 40px);
        border-radius: 5px;  
        border: solid 2px $color-rojo; 
        margin-top: 10px;  
        padding-left: 10px;
        margin-bottom: 20px; 
    }
    
    .button__contacto{
        @include sizes(405px, 45px);
        padding: 0 5px;   
        margin-bottom: 20px; 
        margin-top: 10px; 
        background-color: $color-rojo;  
        border-style: solid; 
        border-radius: 10px;  
        cursor: pointer;
    }
    textarea{
        background-color: $color-blanco; 
        @include sizes(405px, 150px);
        font-family: map-get($estilosTextos, fuente);
        font-size: map-get($estilosTextos, tamaño);
        font-weight: map-get($estilosTextos, grosor);
        border-radius: 5px;  
        border: solid 2px $color-rojo; 
        margin-top: 10px;  
        padding-left: 10px;
        margin-bottom: 20px; 
        padding-top: 15px; 
    }
}


input{
    @include sizes(30px, 20px);
}

label, span{
    font-family: map-get($estilosTextos, fuente);
    font-weight: map-get($estilosTextos, grosor);
    font-size: map-get($estilosTextos, tamaño);
    color: $color-blanco;
}


