/* Inicio Footer */
footer{
    height: 60px;
    background-color: $color-azul;
    display: flex;
    justify-content: end;
    align-items: center;
    ul {
        display: flex;
        padding-right: 10px;
        justify-content: end;
        gap:1rem;
        list-style: none;
        margin-bottom: 0;
    }
}


.redes a{
    text-decoration: none;
    color: $color-blanco;
    &:hover{
        color:$color-rojo;
    }
}

/* Fin Footer */