

/* Inicio Navbar */

#offcanvasNavbar{
    background-color: #949b9b;
    color: $color-blanco;
}
.navbar-light  {

    .navbar-nav{

        .nav-link{
            color: $color-blanco;
            font-size: 20px;
            &:hover{
                color: $color-rojo;
            }
        }
    }
}

/* Fin Navbar */