.texto{
    display: flex;
    justify-content: center;
    p{
        font-weight: 700;
        font-family: $font-comic;
        color: $color-parrafos;
        width: 80%;
        padding: 10px;
        font-size: 20px;
        background-color: $color-fondo-texto;
        margin-bottom: 50px;
        border-radius: 5px;
    }
}

.texto--osc{
    @extend .texto;
    p{
        background-color: $color-parrafos;
        color: $color-blanco;
    }
}
.h3{
    display: flex;
    justify-content: center;
    color: $color-blanco;
}

.imagenHistoria{
    float:left;
    margin: 5px;
}

