.texto{
    display: flex;
    justify-content: center;
    p{
        font-family: $font-comic;
        color: $color-parrafos;
        width: 80%;
        padding: 10px;
        font-size: 20px;
        background-color: $color-fondo-texto;
        margin-bottom: 50px;
    }
}

.imagenHistoria{
    float:left;
    margin: 5px;
}

