.img-slide{
    margin: 100px 0;
}

video{
    @include sizes(100%, 100%);
    object-fit: cover;
}

/* imagenes carrusel */
.d-block{
    height: 75vh;
}

/* Fin imagenes carrusel */

.intro{
    &__img{
        @include sizes(550px, 500px);
        border-radius: 5px;
    }
    &__column{
        margin-bottom: 30px;
        border-radius: 3px;
        background-color: $color-fondo-texto;
        &__leyend{
            font-family: $font-comic;
            font-weight: 900;
            color: $color-parrafos;
        }
    }

}



