.card{
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    height: 100%;
    color: $color-blanco;
    background-color: $color-rojo;
    font-family: $font-comic;
    &:hover{
        background-color: $color-azul;
    }
    img{
        @include sizes(auto, 250px);
    }
    &--mod{
        @extend .card;
        background-color: $color-azul;
        &:hover{
            background-color: $color-rojo;
        }
    }
}
