.card{
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    height: 100%;
    color: $color-blanco;
    background-color: $color-rojo;
    font-family: $font-comic;
    &:hover{
        background-color: $color-azul;
    }
    img{
        width: auto;
        height: 250px;
    }
}
