.villano{
    background-color: #fbfbfbb7;
    font-weight: bold;
    font-family: 'Comic Neue', cursive;
    padding: 1rem;
    border-radius: 3px;
    .villano__imagen
    {
        width: 150px;
        height: 150px;
    }
}
