.villano{
    background-color: $color-fondo-texto;
    font-weight: map-get($estilosTextos , grosor);
    font-family: $font-comic;
    color: $color-parrafos;
    padding: 1rem;
    border-radius: 3px;
    &__imagen
    {
        @include sizes(150px, 150px);
    }
}
