.villano{
    background-color: $color-fondo-texto;
    font-weight: bold;
    font-family: $font-comic;
    color: $color-parrafos;
    padding: 1rem;
    border-radius: 3px;
    &__imagen
    {
        width: 150px;
        height: 150px;
    }
}
